.ProfilePage{
    width:80%; 
    height:600px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px auto; 
}

.UserSide{
    width:60%;
    height: 600px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: hsl(107, 36%, 82%);
}

.AwardsSide{
    width:40%; 
    height:600px; 
    display: flex;
    background-color: hsl(109, 8%, 51%);
}

.ProfileHeader{
    font-size: 3rem;
    margin-top: 40px;
}

.avatar{
    width:200px; 
    height: 200px;
    margin-top: 30px;
    border-radius: 100%;
    border:20px solid hsl(107, 51%, 87%); 
}