body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar{
  background-color: hsl(200, 83%, 88%);
}

.logo{
  font-family: 'Handlee', cursive;
  font-size:1.7rem; 
}

.navbar-collapse{
  justify-content: space-between;
}

.nav-item{
  margin:10px; 
}

.user-avatar{
  width:50px; 
  height:50px; 
  border-radius: 100%;
  cursor:pointer; 
}

.cash{
  color: hsl(137, 65%, 36%)
}

.avatar-item{
  position:relative; 
}

.avatar-item .dropdown-content{
   display: block;
}

.square{
  position:absolute; 
  top:-10px;
  right:15px;
  background-color:hsl(343, 75%, 91%);
  width:20px; 
  height:20px; 
  transform: rotate(45deg);
}

.dropdown-content{
  position:absolute; 
  left:-150px; 
  top:70px; 
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  border-radius:10px;
}

.dropdown-item{
  height:40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(343, 75%, 91%);
}

.dropdown-item:hover{
  background-color: hsl(341, 20%, 72%);
}

.di-top{
  border-radius: 10px 10px 0 0;
}

.di-btm{
  border-radius: 0 0 10px 10px;
}

.row{
  margin-top:50px;
  justify-content: space-between;
}

.form-control{
  width:55%;
}

.login-page{
  width:100%;
}

.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form form{
  width:100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:25px; 
}

.login-button, .register-button{
  width:55%;
  height:40px; 
  margin-top:20px; 
  background-color:hsl(107, 36%, 82%);
  border:none; 
  border-radius:25px; 
}

.login-button:hover{
  background-color: hsl(107, 15%, 63%);
  transition: linear 0.3s;
}

.register-button:hover{
  background-color: hsl(107, 15%, 63%);
  transition: linear 0.3s;
}

.create-account, .sign-up{
  margin-top: 20px;
  color:hsl(0, 0%, 0%);
}

.login-img{
  display:flex; 
  justify-content: right;
  align-items: center;
}

.loginImg{
  width:90%; 
  height:600px;
}

.register-page{
  margin-top: 100px;
  width:100%;
}

.register-form{
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0;
}

.register-form form{
  width:100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-image{
  width:90%; 
}

.register-img{
  padding:0;
}
